services:
  mongo:
    image: mongo:6
    container_name: mongo_altar
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD:-changeme123}
      MONGO_INITDB_DATABASE: ${MONGO_DB:-sacred}
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - ${MONGO_DATA_PATH:-./data/mongo}:/data/db

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio_altar
    restart: unless-stopped
    profiles:
      - minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minio_admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-changeme123}
    ports:
      - "${MINIO_S3_PORT:-9000}:9000"      # S3 API
      - "${MINIO_CONSOLE_PORT:-9001}:9001"  # Web console
    volumes:
      - ${MINIO_DATA_PATH:-./data/minio}:/data

  altar-extractor:
    image: wgaulti/altar-extractor
    container_name: altar_extractor
    restart: unless-stopped
    ports:
      - "${EXTRACTOR_PORT:-8050}:8050"

  
  omniboard:
    image: vivekratnavel/omniboard:latest
    container_name: omniboard
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - "${OMNIBOARD_HOST_PORT:-9004}:9000"
    command: [
      "--mu",
      "mongodb://${MONGO_ROOT_USER:-admin}:${MONGO_ROOT_PASSWORD:-change_me}@mongo:27017/${OMNIBOARD_DB:-sacred}?authSource=admin&authMechanism=SCRAM-SHA-1"
    ]

  # omniboard2:
  #   image: vivekratnavel/omniboard:latest
  #   container_name: omniboard2
  #   restart: unless-stopped
  #   depends_on:
  #     - mongo
  #   ports:
  #     - "${OMNIBOARD_HOST_PORT_2:-9003}:9000"
  #   command: [
  #     "--mu",
  #     "mongodb://${MONGO_ROOT_USER:-admin}:${MONGO_ROOT_PASSWORD:-change_me}@mongo:27017/${OMNIBOARD2_DB:-test}?authSource=admin&authMechanism=SCRAM-SHA-1"
  #   ]